.tile {
  position: relative;
  width: 3em;
  height: 3em;
  border: 1px solid white;
  z-index: 5;
  cursor: pointer;
  transition: background-color 0.25s;
}

.tile:hover {
  background-color: rgb(54, 54, 54);
}

.hit {
  width: 3em;
  height: 3em;
  border: 1px solid white;
  background-color: rgb(255, 47, 47);
  transition: 0.5s;
}

.miss {
  width: 3em;
  height: 3em;
  border: 1px solid white;
  background-color: rgb(121, 121, 121);
  transition: 0.5s;
}

.ship {
  width: 3em;
  height: 3em;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}
